/* Styles for dark theme TimePicker */
.dark-theme-timepicker .ant-picker-input > input {
  color: #fff; /* White color for the input text */
}

/* Styles for the dropdown menu */
.ant-picker-dropdown.ant-picker-dropdown-dark {
  background-color: #333; /* Dark background for the dropdown */
  border: 1px solid #555;
}

/* Styles for the active/selected time */
.ant-picker-time-panel-column > li.ant-picker-time-panel-cell-selected .ant-picker-time-panel-cell-inner {
  background-color: #1890ff; /* Ant Design's primary blue color */
  color: #fff;
}

/* Styles for the hover state */
.ant-picker-time-panel-column > li:hover .ant-picker-time-panel-cell-inner {
  background-color: #444;
}

/* Styles for the "Now" and "OK" buttons in the dropdown */
.ant-picker-footer {
  background-color: #333;
}
.ant-picker-ok > button.ant-btn-primary {
  background-color: #1890ff;
  border-color: #1890ff;
}

/* Застосовуємо скрол до кожної колонки */
.ant-picker-time-panel-column {
  overflow-y: auto !important; /* !important може допомогти, якщо є конфлікти */
}

/* Налаштовуємо скролбар для естетики */
.ant-picker-time-panel-column::-webkit-scrollbar {
  width: 5px;
}

.ant-picker-time-panel-column::-webkit-scrollbar-track {
  background: #2b2b2b;
}

.ant-picker-time-panel-column::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
  border: 1px solid #2b2b2b;
}