.main-hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 769px) {
  .main-hero-section {
    align-items: flex-start;
    padding-right: 60%;
    padding-left: 20px !important;
  }
}

.main-hero-section:hover {
  transform: none; 
  box-shadow: none;
}