@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  min-height: calc(100vh - 265px - 64px);
  padding: 1.5rem 0;
}

.dropdown-content {
  min-width: max-content !important; 
  white-space: nowrap; 
}

.nav-wrapper .brand-logo {
  padding: 5px 20rem;
}

.nav-wrapper .avatar-logo {
  padding: 0 7rem 0 0;
  margin-left: -15px;
}

.nav-wrapper .monthly-logo {
  padding: 0 10rem 0 0;
}

.nav-wrapper .ant-btn {
  transition: all 0.3s ease;
}

.nav-wrapper .ant-btn:hover {
  background-color: rgba(0,0,0,0.05); 
  border-color: black; 
  transform: translateY(-2px); 
}

.company li, .conditions li{
  margin-top: 12px;
}






